@import url('https://fonts.googleapis.com/css3?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}

header {
    background: white;
    padding: 20px;
}
header > h1 {
    color: #24272E;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 4px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 45px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 15px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -28px;
}

#bot-label {
    position: absolute;
    top: 30px;
    right: -22px;
}

.result {
    font-size: 50px;
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    border: 5px solid white;
    border-radius: 35%;
    padding: 25px;
    margin: 0 15px;
    display: inline-block;
    transition: all 1s ease;
}

.choice:hover {
    cursor: pointer;
    background: #111317;
}

#message {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}

.footer-buttons button {
    padding: 8px 18px;
    margin: 6px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #fff3;
    background: #222;
    color: white;
    transition: 0.3s;
}

.footer-buttons button.active-theme {
    background: #ffcc00;
    color: black;
    border-color: #ffcc00;
    transform: scale(1.05);
}

footer {
    text-align: center;          /* Centers text */
    display: flex;               /* Flexbox layout */
    flex-direction: column;      /* Stack items vertically */
    align-items: center;         /* Center horizontally */
    justify-content: center;     /* Center vertically (if height increases) */
    margin-top: 40px;
}

.footer-buttons {
    margin-top: 10px;
    display: flex;
    gap: 12px;                    /* Space between buttons */
    justify-content: center;     /* Center the buttons */
}
